<p-toast [style]="{ marginTop: '80px' }"></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>

<div class="control-section">
  <ejs-treegrid
    #treegrid
    [dataSource]="tableData"
    height="400"
    childMapping="Crew"
    [allowPaging]="allowPaging"
    [treeColumnIndex]="1"
    [contextMenuItems]="contextMenuItems"
    (contextMenuOpen)="contextMenuOpen($event)"
    (contextMenuClick)="contextMenuClick($event)"
    [showColumnChooser]="showColumnChooser"
    [toolbar]="toolbar"
    [allowFiltering]="allowFilter"
    [allowSelection]="false"
    [allowSorting]="allowSorting"
    [sortSettings]="sortSettings"
    [selectionSettings]="selectionsettings"
  >
    <e-columns>
      <e-column
        *ngFor="let col of columns"
        [field]="col.field ? col.field : ''"
        [headerText]="col.headerText ? col.headerText : ''"
        [width]="col.width ? col.width : ''"
        [textAlign]="col.textAlign ? col.textAlign : ''"
        [isFrozen]="col.isFrozen ? col.isFrozen : false"
      ></e-column>
    </e-columns>
  </ejs-treegrid>
</div>

<!-- #region  -->

<!-- <pre>
  {{ Col | json }}
</pre> -->

<!-- #region -------ADD EDIT COL----------- -->
<p-dialog
  [header]="colHeader"
  [(visible)]="displayResponsive"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  closeIcon="pi pi-times"
>
  <!-- #region -----------------COL ADD EDIT -->

  <form class="form-horizontal" (ngSubmit)="confirmSubmit()" #NewCol="ngForm">
    <div class="grid">
      <div class="col-6" *ngIf="colHeader.includes('New')">
        <label class="block" for="float-input"><strong> Field</strong></label>
        <p-dropdown
          [options]="fieldData"
          name="field"
          [(ngModel)]="Col.field"
          [editable]="true"
          optionLabel="field"
          optionValue="field"
          class="w-full"
        ></p-dropdown>
      </div>
      <div class="col-6">
        <label class="block" for="Name"><strong>Col Name</strong></label>

        <input
          name="colName"
          class="form-control"
          required
          placeholder="Enter Name"
          [(ngModel)]="Col.headerText"
          pInputText
          class="w-full"
        />
      </div>
      <div class="col-6">
        <label class="block" for="Data Type"><strong>Data Type</strong></label>

        <input
          name="dataType"
          class="form-control"
          required
          placeholder="Enter Data Type"
          [(ngModel)]="Col.dataType"
          pInputText
          class="w-full"
        />
      </div>
      <div class="col-6">
        <label class="block" for="Width"><strong>Width</strong></label>

        <p-inputNumber
          name="Width"
          [(ngModel)]="Col.width"
          class="w-full"
        ></p-inputNumber>
      </div>
      <div class="col-6">
        <label class="block" for="freeze"><strong>Frozen</strong></label>

        <p-inputSwitch name="freeze" [(ngModel)]="Col.isFrozen"></p-inputSwitch>
      </div>
    </div>

    <div class="flex justify-content-center">
      <button
        type="submit"
        class="mt-2"
        [disabled]="!NewCol.form.valid"
        pButton
      >
        <i class="fa fa-dot-circle-o"></i> Submit
      </button>
    </div>
  </form>
  <!-- #endregion -->
</p-dialog>

<!-- #endregion -->

<!-- #region --------------MULTISORTING COL -->
<p-dialog
  [header]="'Sorting'"
  [(visible)]="sortDialog"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="true"
  [resizable]="false"
  closeIcon="pi pi-times"
>
  <p-inputSwitch
    name="sortSwitch"
    (onChange)="onAllowSortChange()"
    [(ngModel)]="allowSorting"
  ></p-inputSwitch>
  <hr />
  <ng-container *ngIf="allowSorting">
    <div *ngFor="let col of colsList" class="p-field-checkbox">
      <p-checkbox
        name="sort"
        value="col"
        [value]="col"
        [(ngModel)]="selectedSorted"
        [inputId]="col.field"
        (onChange)="onMultiSortChange($event)"
      ></p-checkbox>
      <label [for]="col.field">{{ col.headerText }}</label>
    </div>
  </ng-container>
</p-dialog>

<!-- #endregion -->

<!-- #region -------ADD EDIT ROWS---------- -->
<p-dialog
  [header]="rowHeader"
  [(visible)]="rowDialog"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="true"
  [resizable]="false"
  closeIcon="pi pi-times"
>
  <form
    class="form-horizontal"
    (ngSubmit)="confirmRowSubmit()"
    #NewRow="ngForm"
  >
    <div class="grid">
      <!-- <div class="col-6">
        <label class="block" for="TaskID"><strong>TaskID</strong></label>

        <input
          name="TaskID"
          class="form-control"
          required
          placeholder="Enter TaskID"
          [(ngModel)]="row.rowData.TaskID"
          pInputText
          class="w-full"
        />
      </div> -->
      <div class="col-6">
        <label class="block" for="Name"><strong>FIELD1</strong></label>

        <input
          name="FIELD1"
          class="form-control"
          required
          placeholder="Enter FIELD1"
          [(ngModel)]="row.rowData.FIELD1"
          pInputText
          class="w-full"
        />
      </div>
      <div class="col-6">
        <label class="block" for="Name"><strong>FIELD2</strong></label>

        <input
          name="FIELD2"
          class="form-control"
          required
          placeholder="Enter FIELD2"
          [(ngModel)]="row.rowData.FIELD2"
          pInputText
          class="w-full"
        />
      </div>
      <div class="col-6">
        <label class="block" for="Name"><strong>FIELD3</strong></label>

        <input
          name="FIELD3"
          class="form-control"
          required
          placeholder="Enter FIELD3"
          [(ngModel)]="row.rowData.FIELD3"
          pInputText
          class="w-full"
        />
      </div>
      <div class="col-6">
        <label class="block" for="Name"><strong>FIELD4</strong></label>

        <input
          name="FIELD4"
          class="form-control"
          required
          placeholder="Enter FIELD4"
          [(ngModel)]="row.rowData.FIELD4"
          pInputText
          class="w-full"
        />
      </div>
    </div>

    <div class="flex justify-content-center">
      <button
        type="submit"
        class="mt-2"
        [disabled]="!NewRow.form.valid"
        pButton
      >
        <i class="fa fa-dot-circle-o"></i> Submit
      </button>
    </div>
  </form>
</p-dialog>
<!-- #endregion -->
<pre>
  {{ copyPasteObj | json }}
</pre>
