<div class="control-section">
  <ejs-treegrid
    #treegrid
    [dataSource]="data"
    height="400"
    childMapping="Crew"
    allowPaging="allowPaging"
    [treeColumnIndex]="1"
    [contextMenuItems]="contextMenuItems"
    (contextMenuOpen)="contextMenuOpen($event)"
    (contextMenuClick)="contextMenuClick($event)"
    [showColumnChooser]="showColumnChooser"
    [toolbar]="toolbar"
    [allowFiltering]="allowFilter"
    [allowSelection]="false"
  >
    <e-columns>
      <e-column
        *ngFor="let col of columns"
        [field]="col.field ? col.field : ''"
        [headerText]="col.headerText ? col.headerText : ''"
        [width]="col.width ? col.width : ''"
        [textAlign]="col.textAlign ? col.textAlign : ''"
        [isFrozen]="col.isFrozen ? col.isFrozen : false"
      ></e-column>
    </e-columns>
  </ejs-treegrid>
</div>

<!-- #region  -->

<!-- <pre>
  {{ Col | json }}
</pre> -->

<p-dialog
  [header]="colHeader"
  [(visible)]="displayResponsive"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  closeIcon="pi pi-times"
>
  <!-- #region -----------------COL ADD EDIT -->

  <form class="form-horizontal" (ngSubmit)="confirmSubmit()" #NewCol="ngForm">
    <div class="grid">
      <div class="col-6">
        <label class="block" for="float-input"><strong> Field</strong></label>
        <input
          id="float-input"
          type="text"
          name="field"
          required
          [(ngModel)]="Col.field"
          pInputText
          class="w-full"
        />
      </div>
      <div class="col-6">
        <label class="block" for="Name"><strong>Col Name</strong></label>

        <input
          name="colName"
          class="form-control"
          required
          placeholder="Enter Name"
          [(ngModel)]="Col.headerText"
          pInputText
          class="w-full"
        />
      </div>
      <div class="col-6">
        <label class="block" for="Data Type"><strong>Data Type</strong></label>

        <input
          name="dataType"
          class="form-control"
          required
          placeholder="Enter Data Type"
          [(ngModel)]="Col.dataType"
          pInputText
          class="w-full"
        />
      </div>
      <div class="col-6">
        <label class="block" for="Width"><strong>Width</strong></label>

        <p-inputNumber
          name="Width"
          [(ngModel)]="Col.width"
          class="w-full"
        ></p-inputNumber>
      </div>
    </div>

    <div class="flex justify-content-center">
      <button
        type="submit"
        class="mt-2"
        [disabled]="!NewCol.form.valid"
        pButton
      >
        <i class="fa fa-dot-circle-o"></i> Submit
      </button>
    </div>
  </form>
  <!-- #endregion -->
</p-dialog>
