<div class="control-section">
  <ejs-treegrid
    #treegrid
    [dataSource]="data"
    height="400"
    childMapping="Crew"
    [treeColumnIndex]="1"
    [contextMenuItems]="contextMenuItems"
    (contextMenuOpen)="contextMenuOpen($event)"
    (contextMenuClick)="contextMenuClick($event)"
  >
    <e-columns>
      <e-column
        *ngFor="let col of columns"
        [field]="col.field"
        [headerText]="col.headerText"
        [width]="col.width"
        [textAlign]="col.textAlign"
      ></e-column>
    </e-columns>
  </ejs-treegrid>
</div>
